*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style:none;
}
li{
    list-style-type: none;
    line-height: 1.6;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
a{
    color:inherit;
    text-decoration:none;
}
.contact_link{
    line-height: 1.6;
    font-size: 30px;
    max-width: 1000px;
    margin: 0 auto;

}
.contact_link:hover{
    text-decoration: underline;
    color:#8C6684;
}
body{
    background-color:#eaeff3;
    font-family: "Inter", sans-serif;
    height:3000px;
    padding-top: 60px;
}
.header{
    background-color:rgba(255,255,255,0.7);
    border-bottom: 1px solid rgb(212,217,219);
    position:fixed;
    width:100%;
    top:0;
    backdrop-filter: blur(6px);
}
.header_content{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 30px;
    min-height: 60px;
}
.logo{
    font-size: 24px;
    letter-spacing: -1.5px;
    font-weight: 600;
    color: #8C6684;
}

.nav_list{
    display:flex;
    column-gap:20px;

}

.nav_link{
    color: rgba(0,0,0,0.65);
    font-weight: 500;
    font-size: 20px;
    transition: all 0.4s;
}
.nav_link:hover{
    color:rgb(0, 0,0,1);
}

.main{
    margin-top:80px;
    text-align: center;
}
.heading{
    color: #668C6E;
    font-size: 70px;
    margin-bottom: 20px;
}
.subheading{
    color: #668C6E;
    font-size: 40px;
    margin-bottom: 20px;
}
h3{
    color: #668C6E;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text{
    line-height: 1.6;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
}



@media (max-width: 850px){
    
    .header_content{
        flex-direction:column;
        padding: 15px 0;
        row-gap: 3px;
    }
    .nav_link{
        font-size: 10px;
    }
    .nav_list{
        column-gap: 4px;
    }
    .heading{
        font-size: 30px;
    }
    .subheading{
        font-size: 25px;
    }
    .text{
        font-size: 15px;
    }
    .contact_link{
        font-size: 20px;
    }
    li{
        font-size: 15px;
    }
    body{
        padding-left: 5px;
        padding-right: 5px;
        padding-top:60px;
    }
}
